// app.less
* {
    /* 初始化 */
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}

.items-center{
    align-items: center;
}
.content-center{
    justify-content: center;
}